# -*- python -*-
# ex: set filetype=python:

from buildbot.plugins import *
from BuildBotLib.buildbot import *
from buildbot.www import authz, auth
from BuildBotLib.cmake import CMake
from BuildBotLib.qmake import QMake
from BuildBotLib.asssetsinstaller import AsssetsInstaller
from BuildBotLib.qtUpdater import QtUpdater

# This is a sample buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.


bot = BuildBot()

qmake = QMake()
asssetsinstaller = AsssetsInstaller()
qtUpdater = QtUpdater()

bot.addBuilder("github-worker", qmake)
bot.addBuilder("github-tester", qmake)
bot.addBuilder("qtBuilder", qtUpdater)
bot.addBuilder("assets-builder", asssetsinstaller)


c = BuildmasterConfig =  bot.getMaster()

