# -*- python -*-
# ex: set filetype=python:

from buildbot.plugins import *
from BuildBotLib.buildbot import *
from buildbot.www import authz, auth
from BuildBotLib.cmake import CMake
from BuildBotLib.qmake import QMake
from BuildBotLib.asssetsinstaller import AsssetsInstaller
from BuildBotLib.qtUpdater import QtUpdater
from BuildBotLib.basemodule import BaseModule

# This is a sample buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.


bot = BuildBot()

qmakeLinux = QMake(BaseModule.P_Linux)
qmakeWindows = QMake(BaseModule.P_Windows)
qmakeAndroid = QMake(BaseModule.P_Android)
repoGen = RepoGen()

bot.addBuilder("LinuxBuilder", qmakeLinux)
bot.addBuilder("WindowsBuilder", qmakeWindows)
bot.addBuilder("AndroidBuilder", qmakeAndroid)
bot.addBuilder("RepoGen", repoGen)


c = BuildmasterConfig =  bot.getMaster()

