# -*- python -*-
# ex: set filetype=python:

from buildbot.plugins import *
from BuildBotLib.buildbot import *
from buildbot.www import authz, auth
from BuildBotLib.cmake import CMake
from BuildBotLib.docs import Docs
from BuildBotLib.qmake import QMake
from BuildBotLib.qtUpdater import QtUpdater
from BuildBotLib.basemodule import BaseModule
from BuildBotLib.qifRepogen import QIFRepogen
from BuildBotLib.releaser import Releaser

# This is a sample buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.


bot = BuildBot()

qmakeLinux = QMake(BaseModule.P_Linux)
qmakeWindows = QMake(BaseModule.P_Windows)
qmakeAndroid = QMake(BaseModule.P_Android)

cmakeLinux = CMake(BaseModule.P_Linux)
cmakeWindows = CMake(BaseModule.P_Windows)
cmakeAndroid = CMake(BaseModule.P_Android)

wasm = CMake(BaseModule.P_Wasm)
docs = Docs(BaseModule.P_Linux)

iosBuilder = CMake(BaseModule.P_iOS)

repoGen = QIFRepogen()

release = Releaser()


bot.addBuilder("LinuxBuilder", qmakeLinux)
bot.addBuilder("WindowsBuilder", qmakeWindows)

bot.addBuilder("LinuxCMakeBuilder", cmakeLinux)
bot.addBuilder("LinuxCMakeBuilderQt6", cmakeLinux)

bot.addBuilder("WindowsCMakeBuilder", cmakeWindows)

bot.addBuilder("AndroidBuilder_v7", cmakeAndroid)
bot.addBuilder("AndroidBuilder_v8", cmakeAndroid)
bot.addBuilder("AndroidBuilder_v8Qt6", cmakeAndroid)

bot.addBuilder("RepoGen", repoGen)

bot.addBuilder("Wasm32Builder", wasm)
bot.addBuilder("DocsGenerator", docs)
bot.addBuilder("prodDeployer", release)

bot.addBuilder("IOSCMakeBuilder", iosBuilder)

c = BuildmasterConfig =  bot.getMaster()

